<div class='container'>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <h2>Finish Registration</h2>
      <p>If you are not <%= resource.email %>, please <%= link_to('sign out', destroy_user_session_path) %>.</p>

      <%= form_for(
                  resource,
                  as: resource_name,
                  url: user_registration_path(resource.id),
                  html: { method: :put, autocomplete: "off" }
          ) do |f|
      %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :name_first, 'First Name' %>
          <%= f.text_field :name_first, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :name_last, 'Last Name' %>
          <%= f.text_field :name_last, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :dashboard_lan_domain, 'Domain' %>
          <%= f.text_field :dashboard_lan_domain, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :dashboard_lan_id, 'LAN ID' %>
          <%= f.text_field :dashboard_lan_id, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.hidden_field :finished_registration, value: true %>

        <div><%= f.submit "Update", class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>
